{% extends "base.html" %}

{% block title %}{{ model["room"]["roomname"] }}{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <h3 class="list-group-item text-center">教室列表</h3>
                </ul>

                <div class="list-group" style="margin-bottom: 15px">
                    {% for i in model["roomlist"] %}
                        <a href="{{ url_for("room.roomstatus", roomname=i.roomname) }}"
                           class="list-group-item list-group-item-action {% if(model["room"]["roomname"]==i.roomname) %}active disabled{% endif %}">{{ i.roomname }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <table class="table table-light">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        {% for i in model["date"] %}
                            <th scope="col">{{ i.month }}月{{ i.day }}日</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(1,11) %}
                        {#i 第几节课#}
                        <tr>
                            <th scope="row">第{{ i }}节课</th>
                            {% for ii in range(0,7) %}
                                {#ii 和今天相差几天#}


                                {% if ((ii,i) in model["schedule"]) %}
                                    <td style="background-color: #bee5eb;">
                                        <span data-toggle="tooltip"

                                              data-html="true"
                                              title="已被{{ model["schedule"][(ii,i)]["username"] }}预定&#10;&#13;用途:{{ model["schedule"][(ii,i)]["useage"] }}"
                                              style="cursor:pointer">
                                           已被预定
                                        </span>

                                        {#                                        {{ model["schedule"][(ii,i)]["username"] }}#}
                                        {#                                        <br>用途:{{ model["schedule"][(ii,i)]["useage"] }}#}
                                    </td>
                                {% else %}
                                    <td style="background-color: #eeeeee">
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                           data-whatever="{{ model["room"]["roomname"] }}" data-classn="{{ i }}"
                                           data-daysdelta="{{ ii }}">
                                            {{ i }},{{ ii }}
                                        </a>
                                    </td>
                                {% endif %}


                            {% endfor %}
                        </tr>


                    {% endfor %}


                    </tbody>
                </table>


            </div>

            {% include "room/bookingmodal.html" %}

        </div>
    </div>




{% endblock %}