{% extends "base.html" %}

{% block title %}admin{% endblock %}

{% block body %}

    <br>
    <br>

    <div class="container">
        {{ current_user.role.role_name }}<br>
        用户名:{{ current_user.username }}<br>
        <a href="{{ url_for("auth.logout") }}">退出登陆</a>
        <hr>

        <div class="list-group">

            <a class="list-group-item" href="{{ url_for("admin.schedulemanager") }} " target="_blank">需要审核的已经预定的教室</a>
            <a class="list-group-item" href="{{ url_for("admin.roommanage") }} " target="_blank">教室管理</a>
            <a class="list-group-item" href="{{ url_for("admin.departmentmanager") }}" target="_blank">系别管理</a>
            <a class="list-group-item" href="{{ url_for("admin.changepasswd") }}" target="_blank">修改其他用户密码</a>
            <a class="list-group-item" href="{{ url_for("admin.unactiveusermanager") }}" target="_blank">未激活的用户审核</a>

            <a class="list-group-item" href="">批量添加用户</a>


        </div>
    </div>





{% endblock %}