{% extends "base.html" %}

{% block title %}修改密码{% endblock %}

{% block body %}

    <div class="container">
        <form action="{{ url_for("admin.changepasswd") }}" method="post">
            {{ form.csrf_token }}
            <br>
            {{ form.username.label }}
            {{ form.username }}
            <br>
            {{ form.password.label }}
            {{ form.password }}
            <br>
            <button type="submit">提交</button>
        </form>

    </div>



{% endblock %}