<div class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="{{ url_for("index") }}">
                <img src="{{ url_for("static",filename="img/booking.png") }}" width="30" alt="">
                会议室预定
            </a>

            {% if(current_user.is_anonymous!=True) %}
                <img src="{{ url_for("static",filename="img/notice.png") }} " width="30">
                <a href="{{ url_for("auth.me") }}">{{ current_user.username }}</a>
            {% else %}
                <a href="{{ url_for("auth.login") }}">登陆</a>
            {% endif %}
        </nav>
    </div>
</div>
